<section class="about" id="about-us">
    <div class="container">

        <p class="pre-title pre-title--spacing about-pre__title">tradition and love</p>
        <h2 class="section-title title--red about__title ">how it’s made?</h2>

        <div class="about-container">

            <picture>
                <source srcset="
                ./images/about/cow-desktop.png 1x,
                ./images/about/cow-desktop2x.png 2x
                "
                media="(min-width:1280px)"
                >

                <source srcset="
                ./images/about/cow-tab.png 1x,
                ./images/about/cow-tab2x.png 2x
                "
                media="(min-width:768px)"
                >

                <source srcset="
                ./images/about/cow-mob.png 1x,
                ./images/about/cow-mob2x.png 2x"
                
                media="(min-width:320px)"
                >
                <img src="./images/about/cow-desktop2x.png" alt="cow">
            </picture>

            <div class="about-content">

                <p class="about-content__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
                Maecenas eleifend erat at justo fringilla.</p>

                
                <p class="about-content__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. </p>

                <p class="about-content__text">Aliquam erat volutpat. Aenean accumsan.</p>
                
                <!-- <button type="button" class="button button--white about-button">Read more<span class="arrow"></span>
                    <span class="overlay-text pink">
                        Cows are found in almost all parts of the world. They are very useful domestic animals. Every child is fed with the
                        cow’s milk. Cow milk is used all over the world to prepare other prodacts.
                    </span>
                </button> -->

                <input type="checkbox" id="read-more" hidden />
                <p class="extra-text about-content__text">
                    Cows are found in almost all parts of the world. They are very useful domestic animals. Every child is fed with the
                    cow’s milk. Cow milk is used all over the world to prepare other prodacts.
                </p>
                <label for="read-more" class="read-more button button--white ">Read 
                    <span class="more">more</span><span class="less">less</span><span class="arrow"></span>
                
                </label>
                
            </div>

        </div>
        
        
    </div>

    <!-- <a href="#home" class="about-up button--white arrow "></a> -->

    
</section>