<section class="advantages-section">
  <div class="container">
    <h2 class="section__title visually-hidden">advantages</h2>
    <ul class="advantages__list list">
      <li class="advantages__item">
        <svg class="advantages__icon advantages__pic--first">
          <use href="./images/sprite.svg#icon-milk"></use>
        </svg>
        <p class="advantages__item-text advantages__nom">721</p>
        <p class="advantages__item-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon advantages__pic--second">
          <use href="./images/sprite.svg#icon-apple"></use>
        </svg>
        <p class="advantages__item-text advantages__nom--mob">16kg</p>
        <p class="advantages__item-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon advantages__pic--third">
          <use href="./images/sprite.svg#icon-cow"></use>
        </svg>
        <p class="advantages__item-text advantages__nom">84</p>
        <p class="advantages__item-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
