<header class="site-header header" id="home">
    <div class="header-conteiner">
        <a href="https://hanna-serdjuk.github.io/icecream-project/" class="header__logo link">
            <img class="header__icon"  src="./images/favicon/favicon.png"
                alt="company logo">
            <p class="header__company-name">icecream</p>
        </a>
    <nav class="header-nav">
        <ul class="list header-nav__list header-nav__list--desktop">
            <li class="header-nav__item item">
                <a href="#home" class="header-nav__link link">Home</a>
            </li>
            <li class="header-nav__item item">
                <a href="#about-us" class="header-nav__link link">About us</a>
            </li>
            <li class="header-nav__item item">
                <a href="#about-us" class="header-nav__link link">How it’s made?</a>
            </li>
            <li class="header-nav__item item">
                <a href="#products" class="header-nav__link link">Our products</a>
            </li>
            <li class="header-nav__item item">
                <a href="#contacts" class="header-nav__link link">Contact</a>
            </li>
        </ul>
    </nav>
        <div class="header-btn-wrap">
            <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu"
            type="button">
            <svg class="menu-open-icon" width="20" height="12">
                <use href="./images/sprite.svg#icon-burger"></use>
            </svg>
        </button>
        <button class="button header-btn button--white">Buy now <span class="arrow"></span>
        </button>
    </div>
    </div>

<!-- Mobile menu -->

    <div class="mobile-backdrop">
    <div class="menu-container js-menu-container" id="mobile-menu">
        <button class="menu-toggle js-close-menu" aria-expanded="false" aria-controls="mobile-menu" type="button">
            <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <button class="button button--white button--menu mobile-menu-btn">Buy now <span class="arrow arrow--mobile"></span>
        </button>
        <ul class="mob-menu list header-menu">
            <li class="mob-menu__item item item">
                <a href="#home" class="mob-menu__link link">Home</a>
            </li>
            <li class="mob-menu__item item item">
                <a href="#about-us" class="mob-menu__link link">About us</a>
            </li>
            <li class="mob-menu__item item item">
                <a href="#about-us" class="mob-menu__link link">How it’s made?</a>
            </li>
            <li class="mob-menu__item item item">
                <a href="#products" class="mob-menu__link link">Our products</a>
            </li>
            <li class="mob-menu__item item item">
                <a href="#contacts" class="mob-menu__link link">Contact</a>
            </li>
        </ul>
    </div>
</div>

<!-- Modal window -->

<div class="backdrop is-hidden modal-wind mob-modal-wind">
    <div class="modal">
        <button class="modal__btn modal__btn-close">
            <svg class="modal__icon" width="20" height="20">
                <use href="./images/sprite.svg#icon-cross"></use>
            </svg>
        </button>
        <form class="modal-form js-speaker-form" action="user_form" autocomplete="off">
            <div class="modal-head">
            <img class="modal-logo" src="./images/favicon/favicon.png" alt="company logo">
            <p class="modal-title">Order form</p>
        </div>
            <div class="modal-list">
                <label class="modal-list__label" for="name" autofocus>Full Name</label>
                <input class="modal-list__input" type="text" id="name" name="name" placeholder="John Smith">
            </div>
            <div class="modal-list">
                <label class="modal-list__label" for="tel">Phone</label>
                <input class="modal-list__input" type="tel" name="tel" id="tel" placeholder="+380 (  )">
            </div>
            <div class="modal-list">
                <label class="modal-list__label" for="comment">Your order</label>
                <textarea class="modal-list__textarea" name="comment" id="comment" rows="5"
                    placeholder="Type your order here"></textarea>
            </div>
            <div class="modal-chekbox">
                <input type="checkbox" name="checkbox" id="chekbox"/>
                <label class="modal-chekbox__label" for="chekbox">Confirm your order</label>        
            </div>
            <button class="button button--red modal-close" type="submit">Send</button>
        </form>
    </div>
</div>
</header>
