<section id="products" class="section-products">
    <div class="container">
        <p class="pre-title pre-title-products">100% natural</p>
        <h2 class="section-title products-title">products</h2>
    
        <ul class="products-list">

            <li class="products-list__item pink-ice-cream">
                <h3 class="products-list__title">ice cream</h3>
                    <span class="products-list__points"></span>
                    <p class="products-list__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
                    <p class="products-list__info__mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>                
                    
                
                    <button type="button" class="products-list__button">
                        <span class="overlay-text pink ">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam perferendis minus quam delectus repellat. Ipsam quisquam repellendus necessitatibus eos minima.
                        </span>
                        <svg class="right_arrow" width="10" height="10">
                        <use href="./images/sprite.svg#icon-arrow"></use>                    
                    </svg>
                </button>
            </li>
            


            <li class="products-list__item ice-coffee">
            <h3 class="products-list__title">ice coffee</h3>
                <span class="products-list__points"></span>
            <p class="products-list__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
            <p class="products-list__info__mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
            <button type="button" class="products-list__button">
                <span class="overlay-text coffee ">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam perferendis minus quam delectus repellat. Ipsam quisquam repellendus necessitatibus eos minima.
                </span>
                <svg class="right_arrow" width="10" height="10">
                    <use href="./images/sprite.svg#icon-arrow"></use>                
                </svg>
            </button>
            </li>
    
            <li class="products-list__item milkshakes">
                     <h3 class="products-list__title">milkshakes</h3>
                        <span class="products-list__points"></span>
                        <p class="products-list__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
                        <p class="products-list__info__mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>   
                        
                        <button type="button" class="products-list__button">
                            <span class="overlay-text green ">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam perferendis minus quam delectus repellat. Ipsam
                                quisquam repellendus necessitatibus eos minima.
                            </span>
                            
                        <svg class="right_arrow" width="10" height="10">
                            <use href="./images/sprite.svg#icon-arrow"></use>                        
                        </svg>

                       
                    </button>
            </li>

        </ul>
    </div>
</section>