<section class="reviews">
  <div class="container">
    <h2 class="visually-hidden">Reviews</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide customer-item">
          <div class="context ">
            <img srcset="./images/reviews/testimonials1.png 1x, ./images/reviews/testimonials1_2x.png 2x"
              src="./images/reviews/testimonials1.png" alt="woomen_1" />
            <div class="reviews__content">
              <p class="reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
            <div class="reviews__points"></div>
            <div class="reviews__address">
              <p class="reviews__title">Alla, England</p>
            </div>

          </div>
          
        </div>
        <div class="swiper-slide customer-item">
          <div class="context">
            <img srcset="./images/reviews/testimonials2.png 1x, ./images/reviews/testimonials2_2x.png 2x"
              src="./images/reviews/testimonials2.png" alt="woomen_2" />
              <div class="reviews__content">
                <p class="reviews__text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                  nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
              </div>
              <div class="reviews__points"></div>
              <div class="reviews__address">
                <p class="reviews__title">Ivan, Kiev</p>
              </div>
          </div>
         
        </div>
        <div class="swiper-slide customer-item">
          
          <div class="context">
            <img srcset="./images/reviews/testimonials3.png 1x, ./images/reviews/testimonials3_2x.png 2x"
              src="./images/reviews/testimonials3.png" alt="woomen_3" />
              <div class="reviews__content">
            <p class="reviews__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
              nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
            </div>
            <div class="reviews__points"></div>
            <div class="reviews__address">
              <p class="reviews__title">Emily, Los Angeles</p>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    
    
    
    <div class="swiper-pagination"></div>
  </div>
</section>
