.overlay-text {
  font-size: 18px;
  font-family: 'DM Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  padding: 14px 0 30px;
  color: white;
  text-align: center;
  letter-spacing: 0.04em;
}

.pink {
  background-color: #f88ca5;
}

.coffee {
  background-color: #e8c086;
}

.green {
  background-color: #acd17b;
}
