.gallery {
  background: linear-gradient(to top, $mainColor 74%, $contrastBgColor 31%);
  padding-bottom: 80px;
  @media screen and (min-width: $tablet) {
    padding-bottom: 121px;
    background: linear-gradient(to top, $mainColor 73.2%, $contrastBgColor 30%);
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 123px;
    background: linear-gradient(to top, $mainColor 69.5%, $contrastBgColor 31%);
  }
}
.gallery .container {
  padding-right: 0;
  padding-left: 0;
}
